@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0000-00FF;
  font-variant: small-caps;
  font-display: swap;
  /* Define la fuente personalizada "Inter" con sus propiedades. */
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
  /* Variables CSS para colores reutilizables. */
}

body {
  background-color: var(--Grey-900);
  height: 100vh;
  color: #fff;
  font-family: "Inter"; 
  padding: 0 20px;
  /* Estilos generales del cuerpo: fondo oscuro, fuente, color de texto y padding. */
}

.card {
  width: 100%;
  background-color: var(--Grey-800);
  padding: 30px;
  margin-top: 100px;
  margin-inline: auto;
  border-radius: 10px;
  max-width: 350px;
  /* Estilo de la tarjeta: centrada, con fondo, padding y bordes redondeados. */
}

.card__avatar-img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin: 0 auto 10px;
  /* Imagen de perfil: redonda, centrada horizontalmente, con tamaño fijo. */
}

.card__header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  border-color: violet;
  /* Contenedor de texto: centrado y en columna. */
}

.card__header-text h2 {
  color: var(--White);
  font-size: clamp(22px, 5vw, 30px);
  margin: 0;
  /* Nombre: tamaño adaptable y sin margen. */
}

.card__header-text_1 {
  color: var(--Green);
  font-size: clamp(13px, 3vw, 16px);
  /* Ubicación: color verde y tamaño adaptable. */
}

.card__header-text_2 {
  color: #cccccc;
  font-size: clamp(13px, 3vw, 15px);
  /* Descripción: color gris claro y tamaño adaptable. */
}

.card__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* Contenedor de botones: columna, centrado, con espacio entre ellos. */
}

.card__button {
  background-color: var(--Grey-700);
  color: var(--White);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  transition: all .3s ease;
  border-radius: 8px;
  /* Botones: fondo gris, texto blanco, ancho completo, con transición y bordes redondeados. */
}

.card__button:hover {
  background-color: var(--Green);
  color: var(--Grey-800);
  /* Efecto hover: cambia el fondo a verde y el texto a gris oscuro. */
}
